body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

select, button, .dropdown-button {
    margin-bottom: 10px;
    width: 100%;
}

.dropdown-button {
  border: 1px solid #ccc;
  height: 40px;
  width: 130px;
  max-height: 40px;
  max-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: auto;
  max-height: 200px;
}

.dropdown-content input {
  padding: 8px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

fieldset {
    margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.optionbtns {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

.villaindiv {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

#villainDropdownButton {
    width: 150px;
}

.herodropdowns, .team1herodropdowns, .team2herodropdowns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heroSelections {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.companiondropdowns {
    display: flex;
    justify-content: space-between;
}

.blueteam {
    background-color: #006ea7;
}
.goldteam {
    background-color: #e3b70a;
}
.cohblue {
    background-color: #10a9e3;
}
.cohred {
    background-color: #f22025;
}
.rcblue {
    background-color: #356888;
}
.rcred {
    background-color: #af1e23;
}

#challengefieldset.collapse, .collapse {
    display: none;
}

#challengefieldset {
    display: flex;
    flex-direction: row;
}

#challengefieldset>div {
    display: flex;
    flex-direction: column;
}

.show {
  display: block;
}